.pagination {
  width: 50%;
  text-align: left;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.pagination a {
  color: #e91e63;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  text-decoration: none;
  border: 1px solid #ddd;
  font-weight: 400;
  margin: 0;
}

.pagination a.active {
  background-color: #e91e63;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #e9ecef;
  color: #1b7ba0;
}

.quantity-products {
  width: 50%;
  margin-top: 10px;
  text-align: right;
}
