.product {
  border: none;
  padding: 0px 15px 5px;
  flex: 25%;
  position: relative;
  text-align: center;
}

.sale {
  position: absolute;
  right: 18px;
  top: 5px;
  width: 48px;
  height: 48px;
  background: #f50101;
  color: white;
  font-size: 11px;
  font-weight: 600;
  border-radius: 50%;
  padding-top: 6px;
  line-height: 18px;
  text-align: center;
}

.card-body h5 {
  font-weight: 800;
  font-size: 14.2px;
  margin-top: 12px;
  margin-bottom: 0px;
  font-family: roboto;
  white-space: nowrap;
  text-align: center;
  /* overflow: hidden;
    text-overflow: ellipsis; */
}

.card-text {
  font-weight: 400;
  color: #e91e63;
}

.card-body .card-text {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.btn-primary {
  padding: 5px 25px;
  background: #e91e63;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 12px;
}

.card-img-top {
  border-radius: 0px;
}

.price-new,
.price-old {
  font-weight: 500;
  font-size: 14.2px;
  line-height: 20px;
}

.price-new {
  color: #e91e63;
}

.price-old {
  color: #696969;
  text-decoration: line-through;
}

.btn-primary {
  align-items: center;
  justify-content: center;
}
